body {
    background-image: url("./Counter.jpg");
    background-size: cover;
    background-position : center;
    background-repeat : no-repeat;
    max-height : 100%;
    margin :0;
}
#Counter {
    font-size : medium;
    font-family : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align : center;
    max-width : 80%;
    max-height : 80%;
    margin : auto;
    background-color : rgb(255, 149, 1);
    border-radius : 10px;
}
button {
    border : 1px solid black;
    padding-top : 10px;
    padding-bottom : 10px;
    color :white;
    margin-bottom :5px;
    width :200px;
    border-radius : 5px;
    font-weight : bold;
}
#increment-btn {
    background-color :chartreuse;
}
#decrement-btn {
    background-color :chocolate;
}
#save-btn {
    background-color :grey;
}
#reset-btn {
    background-color :red;
}

#save-el {
    font-weight: bold;
    font-size: large;
}
h1 {
    margin-top : 10px;
    margin-bottom : 10px;
}

h2 {
    margin-top : 0;
    margin-bottom :20px;
    font-size :50px;
}
